.navbar{
    background-color: #323f4b;
    width: 100%;
    padding: 5px 15px;
    position: fixed;
}
.nav-sec{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
}
.company-logo{
    height: 70px;
    width: 70px;
}
.company-logo:hover{
    animation: spin 5s infinite linear;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

.nav-links{
    padding: 0;
    display: flex;
    list-style-type: none;
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
}


a{
    text-decoration: none;
    color: grey;

}
a:hover{
    color: #fff;
}
.search-bar-cont{
    background-color: #fff;
    display: flex;
    border: 1px grey solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
}

.search-bar-cont input{
    border: none;
    outline: none;
    font-size: 14px;
    width: 85%;
    font-weight: 800;
}
.icon{
    color: grey;
    font-size: 17px;

}
.hamburger{
    color: gray;
    font-size: 20px;
}
.nav-links{
    display: none;
}
.sm-menu{
    display: none;
}
.enable-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;

}
.enable-menu li{
    border-bottom: gray 1px solid;
    width: 100%;
    margin-bottom: 2px;
    text-align: left;
    padding: 5px;
}

@media (min-width:768px){
    .hamburger{
        display: none;
    }
    .nav-links{
        display: flex;
    }
    .sm-menu{
        display: none;
    }
}

@media (min-width:976px){
    .nav-links{
        width: 25%;
    }
}
